@import 'colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

section {
  min-height: 100vh;
  padding: 20px;
}

.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  div {
    position: relative;
    bottom: 100px;
    margin: 50px;
    h1 {
      font-size: 4rem;
    }
  }
  img {
    width: 40%;
    height: 40%;
  }
}

.crimson-bg {
  background-image: url('./../img/background.png');
  background-size: cover;
  color: var(--secondary-color);
}

.black-bg {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
